<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842534126218-m82vgsc1gvnb4ccaen7f2te0i9a3s2bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842534126218-m82vgsc1gvnb4ccaen7f2te0i9a3s2bh</string>
	<key>API_KEY</key>
	<string>AIzaSyCSjyUTFWN6vy5oxZxP3nggCv_Zg83tyW4</string>
	<key>GCM_SENDER_ID</key>
	<string>842534126218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isyet.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>isyetuchat</string>
	<key>STORAGE_BUCKET</key>
	<string>isyetuchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:842534126218:ios:de13a43296aa10d0772373</string>
</dict>
</plist>
